services:
  mysql:
    networks:
      - app-network

  php:
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    user: root
    networks:
      - app-network

  phpmyadmin:
    ports:
      - "8081:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
